.applications{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:20px;
    padding:20px;
}

.app{
    display:flex;
    align-items: center;
    background-color: grey;
    height:300px;
    padding: 5px;
    text-decoration: none;
    color:white;
    font-size:20px;
    line-height: 40px;
    transition: ease-in-out 0.2s;
}

.app > img{
    height:60%;

}
.cords img{
    width: 120px;
    height: 104px;
    margin-inline: 5px;
}

.app > div{
    margin-left:10px;
}

.wide > img{
    height:100%;
}

.enchantment > img{
    height:130px;
}

.tutorials > img{
    height:140px;
}

.wide{
    grid-column: 1/3;
    background-color: #AD7BE9;
}

.tutorials{
    background-color: #537FE7;
}

.durability{
    background-color: #F99417;
}

.cords{
    background-color: #FF0032;
}

.enchantment{
    background-color: #03C988;
}


.durability:hover{
    background-color: #da6200;
}

.wide:hover{
    background-color: #674188;
}

.tutorials:hover{
    background-color: #3E54AC;
}

.cords:hover{
    background-color: #b20404;
}

.enchantment:hover{
    background-color: #04a770;
}

/* ------------------media--------------- */

@media(max-width: 733px){
    .applications{
        grid-template-columns:1fr;
    }
    .app{
        height: fit-content;
    }
    .wide{
        grid-column: 1;
    }
    .app img{
        display: none;
    }
}

@media(max-width: 645px){
    .starter img{
        display: none;
    }
}