@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    color: white;
    transition: 0.5s;
    touch-action: manipulation;
    user-select: none;
}

main{
    height:770px;
    padding-block:20px;
    overflow: hidden;
}

.cookieMain{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px auto;
    transition: transform 0.5s;
    transform: translateX(-150px);
}

#shopAndTopp{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.topp{
    background: rgb(0, 44, 126);
    border-radius: 10px;
    padding: 5px;
}

/* Cookie */
#cookieCounter{
    color: rgb(255, 225, 0);
    text-shadow: 1px 1px black;
}
#cookieDiv{
    position: relative;
    margin-top: 80px;
    height: 300px;
}
#cookie{
    width: 300px;
    height: 300px;
    cursor: pointer;
    transition: transform 1s;
}

/* Antall cookies per klikk */
.tapInfo{
    font-size: 17px;
    position: absolute;
    pointer-events: none;
    animation: tapInfoMove 1s linear;
}

@keyframes tapInfoMove{
    100%{transform: translateY(-50px); opacity: 0;}
}

/* Roterende hender */
.hand, .hand2{
    height: 15px;
    position: absolute;
    padding-left: 180px;
    top: -50%;
    transition: padding 0.2s;
    transform-origin: 0;
}
.hand2{
    padding-left: 240px;
}
#hands, #hands2{
    padding: 5px;
    background-color: red;
    border-radius: 5px;
    position: absolute;
    top: 49%;
    left: 48%;
    animation: handsRotate 100s infinite linear;
    z-index: -1;
}

@keyframes handsRotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.hand1.trykkes{
    padding-left: 170px;
}
.hand2.trykkes{
    padding-left: 230px;
}

/* Shop */
#shop{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 100px;
    background-color: rgb(0, 44, 126);
    padding: 5px;
    border-radius: 5px;
    transition: transform 0.5s;
    transform: translateY(-100px) translateX(310px);
}
/* Kjøpeobjekter */
#cpsTitle, #upgradeTitle{
    background: linear-gradient(rgb(255, 255, 255), rgb(168, 168, 168));
    padding-bottom: 3px;
    border-radius: 5px;
    text-shadow: 1px 1px 1px black;
    margin-block: 5px;
}
.cpsItem, .upgradeItem{
    height: 60px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 3px solid rgb(165, 215, 255);
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
}
.cpsItem:hover, .upgradeItem:hover{
    scale: 1.01;
}
.cpsItem:active, .upgradeItem:active{
    scale: 0.99;
}
.cpsItem > img, .upgradeItem > img{
    width: 50px;
}
.titlePrice{
    width: 150px;
    text-align: left;
    margin-left: 5px;
}
.titlePrice img{
    width: 15px;
    height: 15px;
    object-fit: contain;
    margin-inline: 2px;
    z-index: 1;
}
.itemTitle{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    background-color: rgb(244, 244, 244);
    border-radius: 0 0 5px 5px;
    padding-left: 5px;
    margin-right: 5px;
}
.priceDiv{
    display: flex;
    align-items: center;
}
.price, .priceU{
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    text-shadow: none;
    z-index: 1;
}
.tooExpensive{
    color: rgb(255, 0, 0);
    text-shadow: 0.5px 0.5px 0.5px black;
}
.levelCps, .levelUpgrade{
    display: flex;
    gap: 5px;
    text-align: left;
    color: rgb(255, 225, 0);
}
.upgradeTxt{
    color: rgb(0, 255, 170);
    text-shadow: 1px 1px 1px black;
}
.leftTxt{
    text-shadow: 1px 1px 1px black;
}
.rightNr{
    color: rgb(0, 0, 0);
}
/* Ikke kommet til cps oppgraderingen ennå */
.notKnown{
    opacity: 0.7;
}
.notKnown::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(167, 167, 167);
}

.notKnown::after{
    position: absolute;
    content: "? ? ?";
    font-size: 30px;
    color: rgb(255, 255, 255);
    left: 60%;
}

#shopKnapp{
    width: 100%;
    padding-block: 5px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 44, 126);
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
#shopKnapp:hover{
    background: rgb(118, 118, 255);
}
/* ----media queries---- */
@media (max-width: 750px){
    #shop{
        transform: translateX(-30px) translateY(-800px);
    }
    #shop.show{
        transform: translateX(-30px) translateY(35px);
        opacity: 0.9;
    }
    .cookieMain{
        transform: translateX(0px);
    }
    #shopKnapp{
        display: flex;
    }
}